<template>
     <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" :duration="2000">
      <div class="q-pa-md " style="width: 500px; height: 1000px;">
        <div class="current-floor"><!--Retaurant to Office-->
          <div>
                <q-btn icon="home" flat style="width:20px; height: 20px;" :to="{ name: 'home-start' }"/>
            </div>
            <div class="absolute-center">
            <div>
                <q-card>Im at: </q-card>
            </div>

<q-btn-dropdown  color="primary" label="1st Floor">
      <q-list>
        <q-item to="target-location3" clickable v-close-popup >
          <q-item-section>
            <q-item-label>Lounge</q-item-label>
          </q-item-section>
        </q-item>

        <q-item  to="target-location1" clickable v-close-popup >
          <q-item-section>
            <q-item-label>Restaurant</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Washroom</q-item-label>
          </q-item-section>
        </q-item>

        <q-item  clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 101</q-item-label>
          </q-item-section>
        </q-item>

        <q-item  clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 102</q-item-label>
          </q-item-section>
        </q-item>

        <q-item  clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 103</q-item-label>
          </q-item-section>
        </q-item>

        <q-item  clickable v-close-popup >
          <q-item-section>
            <q-item-label>Coffee Shop</q-item-label>
          </q-item-section>
        </q-item>

        <q-item  clickable v-close-popup >
          <q-item-section>
            <q-item-label>Front Desk</q-item-label>
          </q-item-section>
        </q-item>

        <q-item  clickable v-close-popup >
          <q-item-section>
            <q-item-label>Pool</q-item-label>
          </q-item-section>
        </q-item>

        <q-item  clickable v-close-popup >
          <q-item-section>
            <q-item-label>Jacuzzi</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-btn-dropdown>
                
    <q-btn-dropdown  color="primary" label="2nd Floor">
      <q-list>
        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>2nd Floor Lounge</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Rest Room</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 201</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 202</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 203</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 204</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 205</q-item-label>
          </q-item-section>
        </q-item>

        <q-item to="target-location2" clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 206</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 207</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 208</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 209</q-item-label>
          </q-item-section>
        </q-item>


    </q-list>
    </q-btn-dropdown>

            
    <q-btn-dropdown  color="primary" label="3rd Floor">
      <q-list>
        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Resto Bar</q-item-label>
          </q-item-section>
        </q-item>

        <q-item  clickable v-close-popup >
          <q-item-section>
            <q-item-label>Office</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Store Room</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Rest Room</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 301</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable v-close-popup >
          <q-item-section>
            <q-item-label>Room 302</q-item-label>
          </q-item-section>
        </q-item>
    </q-list>
    </q-btn-dropdown>


                

                 


              
        
            </div>
        </div>
    </div>
</transition>
</template>