<template>
  <div class="q-pa-md " style="width: 500px; height: 1000px;">
    <div class="home-start">
  <div>
    <q-img :src="require('../assets/homeG.gif')" style="width: 600px; height: 300px;"/>
    <q-btn 
        label="Find IT!"
        :to="{ name: 'current-floor' }"
        class="btn-color fixed-center  text-30 q-pa-lg"/>
  </div>
    </div>
  </div>
</template>






<style lang="scss" scoped >
@import 'src/css/HomeStart.scss';
</style>
<script></script>
