<template>  <!--Resto to Office-->
    <div class="q-pa-md">
        <div class="location-map1  row">
            <div>
                <q-btn icon="home" flat style="width:20px; height: 20px;" :to="{ name: 'home-start' }"/>
            </div>
            <q-card style="width: 900px; height: 1000px;">          
                <div class="col-8">Your Current Location: Restaurant</div>
                 <div class="col-8">Your Destination is: Office</div>
                    
                    <q-card-section style="width: 600px; height: 350px;">
                    <div>
                    <q-img :src="require('../assets/rto.png')" style="width: 600px; height: 300px;"/>
                    </div>
                    </q-card-section>
                    <div class="col-8">Text Guide:</div>
                        <div class="col-8">Step 1: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui et, ducimus fuga cum laboriosam a reiciendis repudiandae?</div>
                        <div class="col-8">Step 2: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui et, ducimus fuga cum laboriosam a reiciendis repudiandae?</div>
            </q-card>
  
        </div>
    </div>
   

</template>