<template> <!--206 to 208-->
    <div class="q-pa-md">
        <div class="location-map2  row">
            <div>
                <q-btn icon="home" flat style="width:20px; height: 20px;" :to="{ name: 'home-start' }"/>
            </div>
            <q-card style="width: 500px; height: 1000px;">          
                <div class="col-8">Your Current Location: Room 206</div>
                 <div class="col-8">Your Destination is: Room 208</div>
                    
                    <q-card-section style="width: 300px; height: 500px;">
                    <div>
                    <q-img :src="require('../assets/r6t8.png')" style="width: 250px; height: 400px;"/>
                    </div>
                    </q-card-section>
                    <div class="col-8">Text Guide:</div>
                        <div class="col-8">Step 1: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui et, ducimus fuga cum laboriosam a reiciendis repudiandae?</div>
                        <div class="col-8">Step 2: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui et, ducimus fuga cum laboriosam a reiciendis repudiandae?</div>
            </q-card>
  
        </div>
    </div>
   

</template>