<template>
    <div class="q-pa-md " style="width: 500px; height: 1000px;">
        <div class="target-location2">
            <q-btn @click="$router.go(-1)"  size="1.5em" round dense flat icon="arrow_back" />
            <div>My destination is:</div>
            <div class=" absolute row" >
        <div class=" q-gutter-sm">     
        <div class="col-2" >
            <h6>1st Floor</h6>
                <q-btn
                  label="Lounge"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Restaurant"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Washroom"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 101"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 102"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 103"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Coffee Shop"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Front Desk"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Pool"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Jacuzzi"
                 :to="{ name: '' }"
                class="">
                 </q-btn>

        </div>

        <div class="col-2" >
            <h6>2nd Floor</h6>
                <q-btn
                  label="2nd Floor Lounge"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Rest Room"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 201"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 202"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 203"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 204"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 205"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 206"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 207"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 208"
                 :to="{ name: 'location-map2' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 209"
                 :to="{ name: '' }"
                class="">
                 </q-btn>

            </div>
            
        <div class="col-2" >
            <h6>3rd Floor</h6>
                <q-btn
                  label="Resto Bar"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Store Room"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Rest Room"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Office"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 301"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                 <q-btn
                  label="Room 302"
                 :to="{ name: '' }"
                class="">
                 </q-btn>
                
                 
            </div>
                 
        </div> 

              
        
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import 'src/css/HomeStart.scss';
</style>